<div class="modal fade" id="modal-default3">
    <div class="modal-dialog">
        <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Registrar Actividad</h4>
      </div>
        <div class="modal-body">
          <div class="box-body">
              <div class="input-group">
                <span class="input-group-addon">Titulo</span>
                <input type="text" class="form-control" >
              </div>
              <br>

              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <div class="input-group-addon">
                     Fecha de inicio
                    </div>
                   <p-calendar [(ngModel)]="dateValue" dateFormat="dd/mm/yy"></p-calendar>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="input-group">
                    <div class="input-group-addon">
                      Finaliza
                    </div>
                   <p-calendar [(ngModel)]="dateValue" dateFormat="dd/mm/yy"></p-calendar>
                  </div>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-lg-6">
                  <label >Conferencistas</label>
                  <p-listbox [options]="cities" [(ngModel)]="selectedCities" filter="filter"  multiple="multiple" checkbox="checkbox" ></p-listbox>
                  <p>Selected Cities: <span *ngFor="let c of selectedCities" style="margin-right: 10px">{{c.name}}</span></p>
                </div>
                <div class="col-lg-6">
                  <label >Carreras</label>
                  <p-listbox [options]="carreras" [(ngModel)]="selectedCarreras" filter="filter"  multiple="multiple" checkbox="checkbox" ></p-listbox>
                   <p>Selected Cities: <span *ngFor="let c of selectedCarreras" style="margin-right: 10px">{{c.name}}</span></p>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-lg-6">
                      <label>Hora de inicio:</label>
                      <p-calendar [(ngModel)]="date8" [timeOnly]="true"></p-calendar>
                </div>
              
                <div class="col-lg-6">
                      <label>Duración:</label>
                      <p-calendar [(ngModel)]="date8" [timeOnly]="true"></p-calendar>
                </div>
              </div> -->

           <!--    <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <div class="input-group-addon">Carreras</div>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">ISC</option>
                        <option>INN</option>
                        <option>ADM</option>
                        <option>MED</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6">
                
                </div>
              </div> -->
             
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Registrar</button>
          </div>
        </div>
      </div>
  </div>
</div>