
<p-dialog header="Registrar Actividad" [(visible)]="Inpdisplay" [width]=500 [height]=600 [closeOnEscape]="false" [modal]="true" (onHide)="OnHIde()" >
  <div class="box-body">
    <form [formGroup]="formActividad"  (ngSubmit)="crearActividad()" >
      <div class="col-lg-12">
        <div class="input-group">
          <span class="input-group-addon">Titulo</span>
          <input type="text" class="form-control" formControlName="titulo">
        </div>
        <br>

        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-6">
               Fecha de inicio
            </div>
            <div class="col-lg-6">
              <p-calendar  dateFormat="dd/mm/yy"  [minDate]="minDate" formControlName="fecha_inicio" [showIcon]="true"></p-calendar>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
              <div class="col-lg-6">
                Fecha de Finalizar
              </div>
              <div class="col-lg-6">
                <p-calendar  dateFormat="dd/mm/yy" [minDate]="minDate" formControlName="fecha_finalizacion" [showIcon]="true"></p-calendar>
              </div>
          </div>
        </div>
         <br>
        <div class="row">
          <div class="col-lg-5">
            <div class="col-lg-12"><label >Carreras participantes</label></div>
            <div class="col-lg-12"><p-multiSelect [options]="carreras"  formControlName="carreras"></p-multiSelect></div>
          </div>
          <div class="col-lg-7">
            <p><span *ngFor="let c of selectedCarreras" style="margin-right: 10px">{{c.name}}</span></p>
          </div>

        </div>
      </div>
    </form>
  </div>
  <p-footer>
    <button type="button" class="btn btn-default pull-left" (click)="OnHIde()">Salir</button>
    <button type="button" (click)="crearActividad()" class="btn btn-success">Registrar</button>
  </p-footer>
</p-dialog>
