<p-dialog header="Perfil"  [positionTop]=50 [draggable]="false" [(visible)]="Inpdisplay" [width]="400" [closeOnEscape]="false" [modal]="true" (onHide)="OnHIde()"  >
	<form [formGroup]="formPerfil"  (ngSubmit)="onSubmit()" >
		<div class="box-body" style="text-align: center">
			<div class="col-lg-12">
				<a (click)="openInput()">
					<img  _ngcontent-c0="" alt="User Image" class="img-circle img_border" src="assets/myimages/user2-160x160.jpg">
				</a>
				
			</div>
			<div class="col-lg-12">
				<input type="file" #inputLogo [hidden]='true'  (change)="onFileChange($event)" accept="image/x-png,image/gif,image/jpeg">
				<div >Nombres</div>
			</div>
			<div class="col-lg-12">
				<div class="datos">{{_funtions.getLoggedUser().nombres}}</div>
			</div>
			<div class="col-lg-12">
				<div>Apellidos</div>
			</div>
			<div class="col-lg-12">
				<div class="datos">{{_funtions.getLoggedUser().apellidos}}</div>
			</div>
			
			<div class="col-lg-12" style="margin-bottom: 8px;">
				<div class="input-group">
					<span class="input-group-addon">Clave Actual</span>
					<input type="password" class="form-control" formControlName="claveActual" required>
				</div>
			</div>
			<div class="col-lg-12" style="margin-bottom: 8px;">
				<div class="input-group">
					<span class="input-group-addon">Clave Nueva</span>
					<input type="password"  pPassword class="form-control" style="border: 1px solid #d0caca" promptLabel="Porfavor ingrese una contraseña" weakLabel="Debil" mediumLabel="Media" strongLabel="Fuerte" formControlName="clave" required>
				</div>
			</div>
			<div class="col-lg-12" style="margin-bottom: 8px;">
				<div class="input-group">
					<span class="input-group-addon">Confirmar Clave Nueva</span>
					<input type="password" pPassword  class="form-control" style="border: 1px solid #d0caca" promptLabel="Porfavor ingrese una contraseña" weakLabel="Debil" mediumLabel="Media" strongLabel="Fuerte" formControlName="claveConfirm" required>
				</div>
			</div>
		</div>
	</form>
	<p-footer>
		<button type="button" class="btn btn-default pull-left" (click)="OnHIde()">Salir</button>
		<button type="button" class="btn btn-success" [disabled]="formPerfil.invalid" (click)="onSubmit()">Guardar</button>
	</p-footer>
</p-dialog>