<p-dialog header="Ponchar Asistencia" [(visible)]="Inpdisplay"  [positionTop]=50 [draggable]="false"  [width]="600" [closeOnEscape]="false" [modal]="true" (onHide)="OnHIde()"  >
	<!-- {{InpDatos|json}} -->
	<div class="box-body">
		<div class="row">
			<div class="col-lg-7">
				<div class="input-group">
					<span><b>Nombres:</b> {{InpDatos?.nombres}}</span>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="input-group">
					<span><b>Matricula:</b> {{InpDatos?.matricula}}</span>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-7">
				<div class="input-group">
					<span><b>Carrera:</b> {{InpDatos?.carrera.abreviatura}}</span>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="input-group">
					<span><b>Carnet:</b> {{InpDatos?.carnet}}</span>
				</div>
			</div>
			<div *ngIf="InpDatos?.msg != ''" class="col-lg-12">
				<p class="label-warning" style="font-size: 20px;">{{InpDatos?.msg}}</p>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-12">
				<button type="button" class="btn btn-success pull-left btn-lg btn_asistencia col-lg-12" *ngIf="InpDatos!= undefined  && InpDatos?.entrada" (click)="enviarDatos()">Entrar</button>
			</div>
			<div class="col-lg-12">
				<button type="button" class="btn btn-primary pull-left btn-lg btn_asistencia col-lg-12" *ngIf="InpDatos!= undefined && !InpDatos?.entrada" (click)="enviarDatos()">Salir</button>
			</div>
		</div>
		
	</div>
<app-list-entrada-salida [InpDatos]="InpDatos"></app-list-entrada-salida>

</p-dialog>