<p-dialog header="Ponchar Asistencia" [(visible)]="Inpdisplay"  [positionTop]=50 [draggable]="false"  [width]="600" [closeOnEscape]="false" [modal]="true" (onHide)="OnHIde()"  >

	<div class="box-body">
		<div class="row">
			<div class="col-lg-7">
		   		<div class="input-group">
		       	<span>Nombres:</span>
		    	</div>
			</div>
		  	<div class="col-lg-5">
		   		<div class="input-group">
		       	<span>Matricula:</span>
		    	</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-7">
		   		<div class="input-group">
		       	<span>Carrera:</span>
		    	</div>
			</div>
		  	<div class="col-lg-5">
		   		<div class="input-group">
		   			<span>Carnet:</span>
		    	</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-6">
				<button type="button" class="btn btn-success pull-left btn-lg btn_asistencia col-lg-12" (click)="OnHIde()">Salir</button>
			</div>
		  	<div class="col-lg-6">
				<button type="button" class="btn btn-primary pull-left btn-lg btn_asistencia col-lg-12" (click)="OnHIde()">Salir</button>
			</div>
		</div>
		
	</div>
	<app-list-entrada-salida></app-list-entrada-salida>
	
</p-dialog>