<div class="box">
    <div class="box-header list_e_s">
		<h3 class="box-title ">[  ] ID Conferencia :</h3>
		<br>
		<small>Entradas y Salidas</small>
    </div>
    <div class="box-body  list_e_s">
      	<table id="example1" class="table table-bordered table-striped">
	        <thead>
		        <tr style="background: white">
		          <th>Tipo</th>
		          <th>Hora</th>
		        </tr>
        	</thead>
	        <tbody>
		         <tr>
		          <td>Entrada</td>
		          <td>13:15</td>
		        </tr>
		         <tr>
		          <td>Salida</td>
		          <td>13:50</td>
		        </tr>
	        </tbody>
  		</table>
    </div>
</div>