 <div class="col-lg-6">
 <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Registrar Estudiante</h3>
            </div>
            <div class="box-body">
               <div class="input-group">
               	<span class="input-group-addon">Nombres</span>
                <input type="text" class="form-control" placeholder="Nombre">
              </div>
              <br>

              <div class="input-group">
                <span class="input-group-addon">Apellidos</span>
                <input type="text" class="form-control" placeholder="Username">
              </div>
              <br>

              <div class="input-group">
                <span class="input-group-addon">Dirección</span>
                <input type="text" class="form-control" placeholder="Username">
              </div>
              <br>

              <div class="input-group">
                <span class="input-group-addon">Cedula</span>
                <input type="text" class="form-control" placeholder="Username">
              </div>
              <br>

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" class="form-control" placeholder="Email">
              </div>
              <br>
			<label>Tipo de usuario</label>
            <select class="form-control select2" style="width: 100%;">
              <option selected="selected">Estudiante</option>
              <option>Administrador</option>
              <option>Verificador</option>
              <option>Conferencista</option>
            </select>
			<br>


            <div class="input-group">
                <span class="input-group-addon">Nombre de usuario</span>
                <input type="text" class="form-control">
            </div>
            
            <br>
            <div class="row">
            	<div class="col-lg-6">
            		 <div class="input-group">
		                <span class="input-group-addon">Clave</span>
		                <input type="password" class="form-control">
		            </div>
              	</div>
              	<div class="col-lg-6">
              		 <div class="input-group">
		                <span class="input-group-addon">Confirmar Clave</span>
		                <input type="password" class="form-control">
		            </div>
              	</div>
            </div>
			<br>
			
            <div class="row">
              	<div class="col-lg-4">
              	</div>
              	<div class="col-lg-4">
              	</div>
              	<div class="col-lg-4">
              		<button type="button" class="btn btn-block btn-success btn-lg">Registrar</button>
              	</div>
             </div>

             <!--  <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox">
                        </span>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input-group">
                        <span class="input-group-addon">
                          <input type="radio">
                        </span>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div> -->
              <!-- /.row -->

           
     
            </div>
            <!-- /.box-body -->
          </div>
</div>

 <div class="col-lg-6"></div>