<div class="box">
	<div class="box-header header-list">
		<h1>Listado de Actividades</h1>
		<!-- <small class="box-title"> [ {{actividad.id}} ] ID Actividad : {{actividad.titulo}}</small> -->
		<br>
	</div>
	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Titulo</th>
					<th>Fecha de inicio</th>
					<!-- <th>Fecha de finalizar</th> -->
					<th>Hora de inicio</th>
					<!-- <th>Hora de terminada</th> -->
					<th>Duración estimada</th>
					<th>Tiempo transcurrido</th>
					<th>Acciones</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of ListadoDeConferenciasPorActividad let i = index">
					<td>{{item.id}}</td>
					<td><b>{{item.titulo| uppercase}}</b></td>
					<td>{{item.dia_de_presentacion | amDateFormat:'DD/MM/YYYY'}}</td>
					<!-- <td>{{item.fecha_fin}}</td> -->
					<td *ngIf="item.hora_inicio != null">{{item.hora_inicio  | amAdd : '12' : 'hours' | amDateFormat:'hh:mm:ss a'}}</td>
					<td *ngIf="item.hora_inicio == null"></td>
					<!-- <td>{{item.hora_fin | amDateFormat:'hh:mm:ss a'}}</td> -->
					<td>{{item.dura_estimada}}</td>
					<td><b>{{item.transcurrido}}</b></td>
					<td>
						<div class="btn-group">
							<a class="btn btn-default btn-flat" title="Editar" [routerLink]="['/list_asistencias']" [queryParams]="{conferencia:item|json }"><i class="fa fa-list"></i></a>
							<a type="button" class="btn btn-default btn-flat" title="Editar" [routerLink]="['/',id_actividad,'conferencias',item.id,'editar']" ><i class=" glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
							<!-- <a class="btn btn-default btn-flat" title="Ver" [routerLink]="['/detalle_conferencia']" [queryParams]="{conferencia:item|json }"><i class="fa fa-eye"></i></a>-->
							
							<a [routerLink]="['/report_asistencia_conferencia']" [queryParams]="{conferencia:item|json }" class="btn btn-default btn-flat" title="Reporte"><i class="fa fa-dashboard"></i></a>
							
							<!-- <button type="button" *ngIf="item.hora_fin == null && item.hora_inicio == null" class="btn btn-default btn-danger" title="Desactivar" (click)="EliminarConferencia(i,item.id,item.id_conferencista_por_actividad)"><i class="fa fa-remove"></i></button>  -->
						</div>
					</td>
					<td>
						<span *ngIf="item.hora_fin != null && item.hora_inicio != null"><div class="label label-danger">Finalizada</div></span>
						<span *ngIf="item.hora_fin == null && item.hora_inicio != null"><div class="label label-success">En Progreso</div></span>
						<span *ngIf="item.hora_fin == null && item.hora_inicio == null"><div class="label label-warning">No ha Iniciado</div></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<router-outlet></router-outlet>