<div class="box">
    <div class="box-header">
      	<h3 class="box-title"> [ 10 ] ID Actividad : Nombre Actividad</h3>
      	<br>
		<small>Listado de Conferencias</small>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Titulo</th>
					<th>Fecha de inicio</th>
					<th>Fecha de finalizar</th>
					<th>Hora de inicio</th>
					<th>Duración estimada</th>
					<th>Tiempo transcurrido</th>
					<th>Acciones</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Trident</td>
					<td>Internet Explorer 4.0</td>
					<td>Win 95+</td>
					<td>Win 95+</td>
					<td>Win 95+</td>
					<td> 4</td>
					<td> 4</td>
					<td>
					<div class="btn-group">
					  	<button type="button" class="btn btn-primary btn-flat" title="Agregar Conferencia">
					    	<i class="fa fa-clock-o"></i>
					  	</button>
						<button type="button" class="btn btn-success btn-flat" title="Agregar Conferencia"  data-toggle="modal" data-target="#modal-default4">
							<i class="fa fa-plus"></i>
						</button>
						<button type="button" class="btn btn-default btn-flat" title="Editar"><i class="fa fa-edit"></i></button>
						<button type="button" class="btn btn-default btn-flat" title="Ver"><i class="fa fa-eye"></i></button>
						<button type="button" class="btn btn-default btn-danger" title="Desactivar"><i class="fa fa-remove"></i></button>
					</div>
					</td>
					<td>Finalizado</td>
				</tr>
				<tr>
					<td>Trident</td>
					<td>InternetExplorer 5.0</td>
					<td>Win 95+</td>
					<td>Win 95+</td>
					<td>Win 95+</td>
					<td>Win 95+</td>
					<td>5</td>
					<td>
					<div class="btn-group">
						<button type="button" class="btn btn-primary btn-flat" title="Agregar Conferencia">
					    	<i class="fa fa-clock-o"></i>
					  	</button>
					    <button type="button" class="btn btn-success btn-flat" title="Agregar Conferencia"  data-toggle="modal" data-target="#modal-default4">
					        <i class="fa fa-plus"></i>
					    </button>
					    <button type="button" class="btn btn-default btn-flat"><i class="fa fa-edit"></i></button>
					    <button type="button" class="btn btn-default btn-flat"><i class="fa fa-eye"></i></button>
					    <button type="button" class="btn btn-default btn-danger"><i class="fa fa-remove"></i></button>
					</div>
					</td>
					<td>Finalizado</td>
				</tr>
				<tr>
					<td>Trident</td>
					<td>InternetExplorer 5.0</td>
					<td>Win 95+</td>
					<td>Win 95+</td>
					<td>Win 95+</td>
					<td>Win 95+</td>
					<td>5</td>
					<td>
					<div class="btn-group">
						<button type="button" class="btn btn-primary btn-flat" title="Agregar Conferencia">
					    	<i class="fa fa-clock-o"></i>
					  	</button>
					    <button type="button" class="btn btn-success btn-flat" title="Agregar Conferencia"  data-toggle="modal" data-target="#modal-default4">
					        <i class="fa fa-plus"></i>
					    </button>
					    <button type="button" class="btn btn-default btn-flat"><i class="fa fa-edit"></i></button>
					    <button type="button" class="btn btn-default btn-flat"><i class="fa fa-eye"></i></button>
					    <button type="button" class="btn btn-default btn-danger"><i class="fa fa-remove"></i></button>
					</div>
					</td>
					<td>Finalizado</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>

 