<div class="box">
  <div class="box-header header-list">
    <h1>Listado de Actividades</h1>
    <h3 class="box-title" style="color:#027ebf">
      <span *ngIf="actividad && actividad != null">
        Cuatrimestre (ID-{{ actividad.id }}) {{ actividad.titulo }}
      </span>
    </h3>
  </div>
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Titulo</th>
          <th>Fecha de inicio</th>
          <!-- <th>Fecha de finalizar</th> -->
          <th>Hora de inicio</th>
          <!-- <th>Hora de terminada</th> -->
          <th>Duración estimada</th>
          <th>Tiempo transcurrido</th>
          <th>Acciones</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of ListadoDeConferenciasPorActividad; let i = index"
        >
          <td>{{ item.id }}</td>
          <td>
            <b>{{ item.titulo | uppercase }}</b>
          </td>
          <td>{{ item.diaPresentacion | amDateFormat: "DD/MM/YYYY" }}</td>
          <!-- <td>{{item.fecha_fin}}</td> -->
          <td *ngIf="item.horaInicio != null">
            {{ item.horaInicio | amDateFormat: "HH:mm:ss a" }}
          </td>
          <td *ngIf="item.horaInicio == null"></td>
          <!-- <td>{{item.horaFin | amDateFormat:'hh:mm:ss a'}}</td> -->
          <td>{{ item.duracionEstimada | amDuration: "HH:mm:ss" }}</td>
          <td>
            <b>{{ tiempoTrancurrido(item.horaInicio, item.horaFin) }}</b>
          </td>
          <td>
            <div class="btn-group">
              <a
                *ngIf="isProgress(item.horaInicio, item.horaFin)"
                class="btn btn-default btn-flat"
                title="Editar"
                [routerLink]="['/list_asistencias']"
                [queryParams]="{ conferencia: item | json }"
                ><i class="fa fa-list"></i
              ></a>
              <a
                *ngIf="!isEnded(item.horaInicio, item.horaFin) && !isProgress(item.horaInicio, item.horaFin)"
                type="button"
                class="btn btn-default btn-flat"
                title="Editar"
                [routerLink]="[
                  '/',
                  id_actividad,
                  'conferencias',
                  item.id,
                  'editar'
                ]"
                ><i class=" glyphicon glyphicon-pencil" aria-hidden="true"></i
              ></a>
              <!-- <a class="btn btn-default btn-flat" title="Ver" [routerLink]="['/detalle_conferencia']" [queryParams]="{conferencia:item|json }"><i class="fa fa-eye"></i></a>-->

              <a
                *ngIf="isProgress(item.horaInicio, item.horaFin) || isEnded(item.horaInicio, item.horaFin)"
                [routerLink]="['/report_asistencia_conferencia']"
                [queryParams]="{ conferencia: item | json }"
                class="btn btn-default btn-flat"
                title="Reporte"
                ><i class="fa fa-bar-chart"></i
              ></a>

              <button
                type="button"
                *ngIf="isProgress(item.horaInicio, item.horaFin)"
                class="btn btn-default btn-warning"
                title="Finalizar"
                (click)="
                  finalizarConferencia(
                    i,
                    item.id,
                    item.id_conferencista_por_actividad
                  )
                "
              >
                <i class="fa fa-sign-out"></i>
              </button>
              <button
                type="button"
                *ngIf="isNotStarted(item.horaInicio, item.horaFin)"
                class="btn btn-default btn-danger"
                title="Borrar"
                (click)="
                  EliminarConferencia(
                    i,
                    item.id,
                    item.id_conferencista_por_actividad
                  )
                "
              >
                <i class="fa fa-remove"></i>
              </button>
            </div>
          </td>
          <td>
            <span *ngIf="isEnded(item.horaInicio, item.horaFin)"
              ><div class="label label-danger">Finalizada</div></span
            >
            <span *ngIf="isProgress(item.horaInicio, item.horaFin)"
              ><div class="label label-success">En Progreso</div></span
            >
            <span *ngIf="isNotStarted(item.horaInicio, item.horaFin)"
              ><div class="label label-warning">No ha Iniciado</div></span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <p-confirmDialog
      header="Confirmacion"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog>
  </div>
</div>
<router-outlet></router-outlet>
