<div class="col-lg-12">
	<div class="row">
		<div class="box box-widget widget-user-2">
			<div class="widget-user-header bg-yellow">
				<h3 class="widget-user-username">Actividades de Hoy</h3>
				<h5 class="widget-user-desc">Fecha {{fechaActual | amDateFormat:'DD/MM/YYYY'}}</h5>
			</div>
			<!-- <td>{{ item.id }}</td>
			<td>
			  <b>{{ item.titulo | uppercase }}</b>
			</td>
			<td>{{ item.diaPresentacion | amDateFormat: "DD/MM/YYYY" }}</td>
			<td>{{item.fecha_fin}}</td> 
			<td *ngIf="item.horaInicio != null">
			  {{ item.horaInicio | amDateFormat: "HH:mm:ss a" }}
			</td>
			<td *ngIf="item.horaInicio == null"></td>
			<td>{{item.horaFin | amDateFormat:'hh:mm:ss a'}}</td> 
			<td>{{ item.duracionEstimada | amDuration: "HH:mm:ss" }}</td>
			<td>
			  <b>{{ tiempoTrancurrido(item.horaInicio, item.horaFin) }}</b>
			</td> -->
			<div class="col-lg-12" style="background: #9c9c9c52;padding-top: 12px">
				<div class="col-md-5 col-sm-6 col-xs-12" *ngFor="let item of ListadoDeConferencias">
					<div class="info-box" >
						<div class=" info-box-icon bg-green" style="width:8px;"><i class="ion ion-ios-cart-outline"></i></div>
						<div class="info-box-content" style="margin-left: 18px;">
							<span class="info-box-number"><b>Actividad:</b>&nbsp;{{item.titulo}}</span>
							<span class="info-box-text" ><b>Cuatrimestre:</b>&nbsp;{{item.cuatrimestre?.titulo}}</span>
							<span class="info-box-text"><b>Hora:</b>&nbsp;{{item.horaInicio | amDateFormat: "HH:mm:ss a"}}</span>
							<!-- <span class="info-box-text"><b>Total Asistencia:</b>&nbsp;{{item.total}}</span> -->
							<h1 style="text-align: center; color: red;margin: 0;" *ngIf="isEnded(item.horaInicio, item.horaFin) && item.iniciada">Finalizada</h1>
							<div class="btn-group" *ngIf="!isEnded(item.horaInicio, item.horaFin) || !item.iniciada">
								<button class="btn btn-success btn-flat" [disabled]="isEnded(item.horaInicio, item.horaFin)" title="Editar" [routerLink]="['/list_asistencias']" [queryParams]="{conferencia:item|json }"><i class="fa fa-list"></i> Pasar Asistencia</button>
								<!-- <button type="button" [disabled]="item.iniciada" class="btn btn-primary btn-flat" title="Agregar Conferencia"  (click)="confirm(item)">
								<i class="fa fa-clock-o"></i>
								<span >Iniciar</span>
								</button> -->
								<button type="button" [disabled]="isEnded(item.horaInicio, item.horaFin)" *ngIf="isProgress(item.horaInicio, item.horaFin)" class="btn btn-danger btn-flat" title="Agregar Conferencia"  (click)="confirm(item)">
								<i class="fa fa-clock-o"></i>
								<span>Finalizar</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>