<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12">
	  <div class="info-box">
	    <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
	    <div class="info-box-content">
	      <span class="info-box-text">CPU Traffic</span>
	      <span class="info-box-number">90<small>%</small></span>
	    </div>
	  </div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
	  <div class="info-box">
	    <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
	    <div class="info-box-content">
	      <span class="info-box-text">Likes</span>
	      <span class="info-box-number">41,410</span>
	    </div>
	  </div>
	</div>
	<div class="clearfix visible-sm-block"></div>
	<div class="col-md-4 col-sm-6 col-xs-12">
	  <div class="info-box">
	    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
	    <div class="info-box-content">
	      <span class="info-box-text">Sales</span>
	      <span class="info-box-number">760</span>
	    </div>
	  </div>
	</div>
</div>


<div class="col-lg-12">
	<div class="row">
		<div class="box box-widget widget-user-2">
	        <div class="widget-user-header bg-yellow">
	          <h3 class="widget-user-username">Conferencias de Hoy</h3>
	          <h5 class="widget-user-desc">Fecha 05/09/2018</h5>
	        </div>
	        <div class="box-footer no-padding">
	          <ul class="nav nav-stacked">
	            <li>
	            	<div style="padding:28px;">
	            		<div class="col-lg-2" style="font-size: 16px;font-weight: bold">Titulo Actividad </div>
	            		<div class="col-lg-2" style="font-size: 16px;font-weight: bold">Titulo Conferencia  </div>
	            		<div class="col-lg-2" style="font-size: 16px;font-weight: bold">Hora de inicio</div>
	            		<div class="col-lg-2" style="font-size: 16px;font-weight: bold">Estado</div>
	            		<div class="col-lg-2" style="font-size: 16px;font-weight: bold">Total Asistencias</div>
	            		<div class="col-lg-2" style="font-size: 16px;font-weight: bold">Pasar Asistencia</div>
	            	</div>
	            </li>

	              <li>
	            	<a href="#" style="padding-bottom:38px;font-size: 17px;">
            			<div class="col-lg-2">Seminario 1</div>
	            		<div class="col-lg-2">Encriptación</div>
	            		<div class="col-lg-2">13:47</div>
	            		<div class="col-lg-2">EN CURSO</div>
	            		<div class="col-lg-2"><span class="pull-right badge bg-blue">31</span></div>
	            		<div class="col-lg-2"><button type="button" class="btn btn-block btn-default btn-sm">Registrar Asistencia</button></div>
	            	</a>
	            </li>
	           <!--  <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
	            <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
	            <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li> -->
			  </ul>
			</div>
		</div>
	</div>
</div>





