<p-dialog [positionTop]=50 [draggable]="false" [(visible)]="Inpdisplay" [width]="600"  [closeOnEscape]="false" [modal]="true" (onHide)="OnHIde()" [closable]="false"  >
  <p-header>
    <div [formGroup]="formPerson">
      <label *ngIf="_funtions.IsRegistrar()">Registrar Conferencista</label>
      <label *ngIf="_funtions.IsEditar()">Editar Conferencista</label>
      <label *ngIf="_funtions.IsMostrar()">Mostrar Conferencista</label>
      <p-toggleButton styleClass="btn-default pull-right" formControlName="estado" onLabel="Activo" offLabel="Inactivo" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'150px'}"></p-toggleButton>
    </div>
  </p-header>
  <div class="modal-body">
    <div class="box-body">
      <form [formGroup]="formPerson"  (ngSubmit)="onSubmit()" >
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <span class="input-group-addon">Nombres</span>
              <input type="text" class="form-control" formControlName="nombres">
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <span class="input-group-addon">Apellidos</span>
              <input type="text" class="form-control" formControlName="apellidos">
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <span class="input-group-addon">Teléfono</span>
            <p-inputMask mask="(999) 999-9999" formControlName="telefono" [style]="{'border-radius': '1px 6px 6px 1px','border-color':'#bfbfbf','height':'35px','width':'100%'}" placeholder="(999) 999-9999"></p-inputMask>
          </div>
          <br>
        </div>
        <br>
        <div class="col-lg-12">
          <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input type="email" class="form-control" formControlName="email">
          </div>
        </div>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">Dirección</span>
        <input type="text" class="form-control" formControlName="direccion">
      </div>
      <br>
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group">
            <span class="input-group-addon">Cargo o Especialidad</span>
            <input type="text" class="form-control" formControlName="cargo">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group">
            <span class="input-group-addon">Trabajo o empresa</span>
            <input type="text" class="form-control" formControlName="trabajo">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<p-footer>
  <button type="button" class="btn btn-default pull-left" (click)="OnHIde()">Salir</button>
  <button type="button" class="btn btn-success" [disabled]="formPerson.invalid" (click)="onSubmit()" *ngIf="_funtions.IsRegistrar() || _funtions.IsEditar()">
  <span *ngIf="id==null">Registrar</span>
  <span *ngIf="id!=null && !_funtions.IsMostrar()">Actualizar</span>
  <!-- <span *ngIf="id!=null && _funtions.IsMostrar()">Editar</span> -->
  </button>
  <button type="button" class="btn btn-success" [disabled]="formPerson.invalid" [routerLink]="['/conferencistas',id,'editar']" *ngIf="_funtions.IsMostrar()">
  <span>Editar</span>
  </button>
</p-footer>
</p-dialog>