<p-dialog header="Registrar Conferencista" [(visible)]="Inpdisplay" [width]="600" [closeOnEscape]="false" [modal]="true" (onHide)="OnHIde()"  >
	<div class="modal-body">
    	<div class="box-body">
			<div class="row">
        		<div class="col-lg-12">
               		<div class="input-group">
		               	<span class="input-group-addon">Nombres</span>
		                <input type="text" class="form-control">
	              	</div>
        		</div>
        	</div>
    		<br>
			<div class="row">
              	<div class="col-lg-12">
               		<div class="input-group">
		               	<span class="input-group-addon">Apellidos</span>
		                <input type="text" class="form-control">
	              	</div>
        		</div>
        	</div>
    		<br>

    		<div class="row">
            	<div class="col-lg-6">
            		 <div class="input-group">
		                <span class="input-group-addon">Teléfono</span>
		                <p-inputMask mask="(999) 999-9999" [(ngModel)]="val5" [style]="{'border-radius': '1px 6px 6px 1px','border-color':'#bfbfbf','height':'35px'}" placeholder="(999) 999-9999"></p-inputMask>
		            </div>
              	</div>
              	<div class="col-lg-6">
              		 <div class="input-group">
		                <span class="input-group-addon">Email</span>
		                <input type="password" class="form-control">
		            </div>
              	</div>
            </div>
            <br>

    		<div class="row">
    			<div class="col-lg-12">
               		<div class="input-group">
		               	<span class="input-group-addon">Cargo o Especialidad</span>
		                <input type="text" class="form-control">
	              	</div>
              	</div>
    		</div>
    		<br>

    		<div class="row">
    			<div class="col-lg-12">
               		<div class="input-group">
		               	<span class="input-group-addon">Trabajo o empresa</span>
		                <input type="text" class="form-control">
	              	</div>
              	</div>
    		</div>

		</div>
	</div>
	<p-footer>
		<button type="button" class="btn btn-default pull-left" (click)="OnHIde()">Salir</button>
		<button type="button" (click)="onSubmit()" class="btn btn-success">Registrar</button>
	</p-footer>
</p-dialog>