<div class="box">
    <div class="box-header header-list">
      	<h3 class="box-title">Listado de Conferencistas</h3>
    </div>
    <!-- <app-buscador></app-buscador> -->
    <div class="box box-success  bg-blue">
		
		<div class="box-header">
		  <div class="row">
		    <div class="col-xs-3">
		      <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Nombre, Apellido, Email, Dirección">
		    </div>
		  </div>
		</div>

	</div>
    <div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Correo</th>
					<th>Especialidad o Cargo</th>
					<th>Empresa o trabajo</th>
					<th>Dirección</th>
					<th>Acciones</th>
					<!-- <th>Estado</th> -->
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of ListadoConferencistas | search:searchText">
					<td>{{item.id}}</td>
					<td>{{item.nombres}}</td>
					<td>{{item.apellidos}}</td>
					<td>{{item.email}}</td>
					<td>{{item.cargo}}</td>
					<td>{{item.trabajo}}</td>
					<td>{{item.direccion}}</td>
					<td>
					<div class="btn-group">
						<a class="btn btn-default btn-flat" title="Editar" [routerLink]="['/list_estudiantes']" [queryParams]="{conferencia:item|json }"><i class="fa fa-list"></i></a>
					  	<button type="button" class="btn btn-primary btn-flat" title="Agregar Conferencia">
					    	<i class="fa fa-clock-o"></i>
					  	</button>
						<button type="button" class="btn btn-default btn-flat" title="Editar"><i class=" glyphicon glyphicon-pencil" aria-hidden="true"></i></button>
						<button type="button" class="btn btn-default btn-flat" title="Ver"><i class="fa fa-eye"></i></button>
						<button type="button" class="btn btn-default btn-danger" title="Desactivar"><i class="fa fa-remove"></i></button>
					</div>
					</td>
					<!-- <td>Finalizado</td> -->
				</tr>
			</tbody>
		</table>
    </div>
</div>
<router-outlet></router-outlet>

 