<div class="box">
  <div class="box-header header-list">
    <h3 class="box-title">Listado de Carreras</h3>
  </div>
  <!-- <app-buscador ></app-buscador> -->
  <div class="box-header">
    <div class="row">
      <div class="col-xs-4">
        <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Nombre, Abreviatura, Fecha de creación">
      </div>
    </div>
  </div>
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Abreviatura</th>
          <th>Nombre</th>
          <th>Fecha de creación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of carreras | search:searchText">
          <td>{{item.value}}</td>
          <td>{{item.label}}</td>
          <td>{{item.abreviatura}}</td>
          <td>{{item.creado | amDateFormat:'DD/MM/YYYY'}}</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-flat" [routerLink]="[item.value,'editar']"  title="Editar"><i class=" glyphicon glyphicon-pencil" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-default btn-flat" [routerLink]="[item.value,'mostrar']"  title="Editar"><i class=" fa fa-eye" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-default btn-danger" title="Desactivar" (click)="confrimacion(item.value)" ><i class="fa fa-remove"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <p-confirmDialog header="Confirmacion" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  </div>
</div>
<router-outlet></router-outlet>