#reporteTable {
  width: 100%;
}
/* table {
  border: 1px solid black;
  text-align: center;
  width: 100%;
} */
table,
th,
td {
  border: 1px solid rgb(189, 189, 189);
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
}
table {
  border-spacing: 5px;
}
